<div class="fully" id="abu">
  <div class="container">
    <div><h1>Aboutus</h1></div>
  <div class="row">
    <div class="col-sm">
      <div>
        <img src="assets/image/ww.jpg">
      </div>
      <div>
        <p>After installing the module, the app will make requests to and receive responses from the HttpClient without knowing that the In-mem</p>
      </div>

    </div>


    <div class="col-sm">
      <div>
        <img src="assets/image/ww.jpg">
      </div>
      <div>
        <p>After installing the module, the app will make requests to and receive responses from the HttpClient without knowing that the In-mem</p>
      </div>

    </div>


    <div class="col-sm">

      <div>
        <img src="assets/image/ww.jpg">
      </div>
      <div>
        <p>After installing the module, the app will make requests to and receive responses from the HttpClient without knowing that the In-mem</p>
      </div>

    </div>
   </div>
  </div>
</div>
